@import '../../../variables.sass'
    
.flat-button
  padding: 0px
  font-size: 1rem
  color: $color-text-muted
  border: none
  outline: none
  background: none
  transition: color .2s ease-in
  &:hover
    color: $color-text
  &:active
    color: $color-text